



<div id="siteContainer">
	<div class="alltheInfo">


		<h2>These are the <%= link_to "AudioMack", 'http://www.audiomack.com/' %> links for today</h2><br />
		
		<!--
		Make it link to a loud hip hop page that will scrape the download links from the top results. 
		-->
	<% @jam.each do |x, i| %>
	<div class="square3">
	<a href="http://www.audiomack.com<%= i.attr('data-url').to_s %>"><img src="<%= x.attr('src').to_s %>"/></a><br />
	<%= i.attr('data-artist').to_s %><br />
	<%= i.attr('data-title').to_s %><br />
	<% link = 'http://www.google.com/search?q=' + i.attr('data-artist').to_s.delete("&").gsub(/\s+/, "+") + i.attr('data-title').to_s.delete("&").gsub(/\s+/, "+") +'+download' %>
		<a href=<%= link %> target="_blank">Download</a>
	<% link1 = 'https://www.youtube.com/results?search_query=' + i.attr('data-artist').to_s.delete("&").gsub(/\s+/, "+") + i.attr('data-title').to_s.delete("&").gsub(/\s+/, "+") %><br />
		<a href=<%= link1 %> target="_blank">Youtube</a><br />
	</div>
	<% end %>
			


	</div>
</div>


