

<div id="siteContainer">
	<div class="alltheInfo">

		<p>These are the <%= link_to "HotNewHipHop", 'http://www.hotnewhiphop.com/' %> links for this week hnnh/archive</p><br />
		<p>This page needs low quality pics fixed later</p><br />
		
		<br />
		<br />

		<% @hnhh_hash.each do |x, i| %>
		<div class="square">
		<a href="<%= x.attr('href').to_s %>"><img src="<%= i.attr('src').to_s %>" style=""/></a><br />
		<%= x.text %><br />
		<% link = 'http://www.google.com/search?q=' + x.text.delete("&").gsub(/\s+/, "+") + '+download' %>
         <a href=<%= link %> target="_blank">Download</a><br />
         <% link1 = 'https://www.youtube.com/results?search_query=' + x.text.delete("&").gsub(/\s+/, "+") %>
         <a href=<%= link1 %> target="_blank">Youtube</a><br />
		</div>
		<% end %>
		
	</div>
</div>

