
<br />
<br />
<div style="margin-left: 200px; margin-top: 200px">



<%= link_to "Home", posts_path %><br/>


<br />
<br />
<br />
<br />

this page will basically scrape worldstar, audiomack, hotnewhiphop, datpiff, live mixtapes, and other hiphop sites for downloads and news....when I get around to it... 

<ul>
	<li><%= link_to "WorldStar", 'http://www.worldstarhiphop.com/videos/' %></li>
	<li><%= link_to "AudioMack", 'http://www.audiomack.com/' %></li>
	<li><%= link_to "HotNewHipHop", 'http://www.hotnewhiphop.com/' %></li>
	<li><%= link_to "Datpiff", 'http://www.datpiff.com/' %></li>
	<li><%= link_to "LiveMixtapes", 'http://www.livemixtapes.com/main.php' %></li>
	<li><%= link_to "HipHopEarly", 'http://www.hiphopearly.com/' %></li>
	<li><%= link_to "HowFlyHipHop", 'http://www.howflyhiphop.com/category/singles/' %></li>
	<li><%= link_to "AudioCastle", 'http://www.audiocastle.net/' %></li>
</ul>




</div>