
mixtapes.html.erb

<div id="siteContainer">
	<div class="alltheInfo">
						
<p>add most views for last 30 days page off livemixtapes.</p>
<p>Albums dont have artist names on datpiff links</p>
<p> make sure to incorporate the "best song on this mixtape feature </p>"
-->

<% @new_array.each do |x, i, z| %>
<div class="square3">
	<a href="http://www.datpiff.com<%= x.attr('href') %>"><img src="<%= i.attr('src') %>"/></a><br />
	<%= x.attr('title').to_s.gsub(/^(listen to )/, '') %><br />
	<%= z.text %><br />
</div>
<% end %>

<h1>MIXTAPES PAGE</h1>
<p><a href="index">Home</a></p>
<br />
<br />

<%= link_to "Datpiff", 'http://www.datpiff.com/' %><br />
<%= link_to "LiveMixtapes", 'http://www.livemixtapes.com/main.php' %><br />

<br />
<br />



<br />
<br />

<% @lm_hash.each do |x, i| %>
<div class="square3">
<a href="http://www.livemixtapes.com<%= x.attr('href') %>"><img src="<%= i.attr('src') %>"/></a><br />
<%= x.text %><br />
</div>
<% end %>

<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />

<br />

			


</div>
</div>