<div id="siteContainer">
	<div class="alltheInfo">

	<p>add http://www.trillhd.com/browse </p>

		

		<% @hhdx_hash.each do |x, i| %>
		<div class="square3">
		<a href="http://www.hiphopdx.com<%= x.attr('href').to_s %>"><img src="<%= i.attr('src').to_s %>"/></a><br />
		<%= x.text %><br />
		</div>
		<% end %>

		<br />
		<br />
		<br />
		<br />

		<div style="margin-top:2100px">
		<% @hnhh_video_hash.each do |x, i| %>
		<div class="square">
		<a href="<%= x.attr('href') %>"><img src="<%= i.attr('src') %>"/></a><br />
		<%= x.text %><br />
		</div>		
		<% end %>
		</div>

</div>
</div>