<!DOCTYPE html>
<html>
<head>
  <title>Loudhiphop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script src="https://www.google.com/jsapi" type="text/javascript"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
  <%= csrf_meta_tags %>
</head>
<body>



<header id="header" class="fixed-header">

			<div class="container full-width-container">

				<a class="brand-logo" href="/"><img src="http://www.i.imgur.com/50sILPi.png" alt="Audiomack Logo"/></a>


				<nav class="main-nav">

					<ul>
						
                        <li><a href="/">Top Songs</a></li>

						<li><a href="/">Top Albums</a></li>

						<li><a href="/">Top Playlists</a></li>

                        <li><%= link_to "My Playlist", search_playlist_path %></li>

                        <li><a href="/">News</a></li>

                        <li><%= link_to "Shop", search_main_path %></li>

                        <li><%= link_to "Search", search_index_path %></li>
					</ul>

				</nav><!--/.main-nav-->


                <form id="site-search" class="search-form" action="/search" method="get">

                    <input type="text" class="search" value="" placeholder="Search for artists, songs, albums!" name="q" />

                </form><!--/#site-search-->



			
                    <nav id="login-menu">
                            <ul>
	                            <% if user_signed_in? %>
	                                <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
	                            <% else %>
	                                <li class="signup"><%= link_to "Sign in", new_user_session_path %></li>
	                            <% end %>
                            </ul>
                </nav><!--/#user-menu-->
	

			</div><!--/.full-width-container-->

</header>

<% flash.each do |key, value| %>
	<p><%= value %></p>
<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
